body {
  font-family: "Montserrat Subrayada", sans-serif;
}

.header {
  text-align: center;
}

.container {
  margin-left: 2em;
  position: relative;
}

.versus {
  position: absolute;
  display: flex;
  margin-left: 50%;
  margin-top: 20vh;
  transform: translateX(-50%);
}

#reset {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#Fight {
  height: 50px;
  width: 50px;
  margin: 10px;
  margin-top: 25%;
}

img {
  height: 200px;
  width: 200px;
}
#result {
  text-align: center;
}
