body {
  font-family: "Montserrat Subrayada", sans-serif;
  height: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  text-align: center;
}

.container {
  margin-left: 2em;
  position: relative;
}

.versus {
  display: flex;
  margin-left: 50%;
  margin-top: 20vh;
  transform: translateX(-50%);
}

#User {
  height: 200px;
  width: 200px;
}

#Pc {
  height: 200px;
  width: 200px;
}

#reset {
  padding-left: 200px;
}

#Fight {
  height: 50px;
  width: 50px;
  margin: 10px;
  margin-top: 25px;
}

img {
  height: 200px;
  width: 200px;
}
#result {
  margin-left: 200px;
}
.rock {
  background-image: url(../Assets/images/rock.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.paper {
  background-image: url(../Assets/images/paper.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.scissors {
  background-image: url(../Assets/images/scissors.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.question {
  background-image: url(../Assets/images/question.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
